<div class="container-fluid container-fixed-lg footer">
    {% block CONTAINER_FLUID %}
        <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
                <span class="hint-text">Copyright &copy; {{ date()|date("Y") }} </span>
                <span class="font-montserrat">EMSI</span>.
                <span class="hint-text">Tous droits réservés. </span>
            </p>
            <div class="clearfix"></div>
        </div>
    {% endblock %}
</div>